html,
body {
    margin: 0px;
    padding: 0px;
}

/*
對id="camera"、"camera-view"、"camera-device"、"photo-display"進行樣式設定
*/
#camera,
#camera-view,
#camera-device,
#photo-display {
    position: fixed;
    /* 元素的位置相對於視口 */
    object-fit: contain;
    /* 內容按比例縮放以適應元素的內容框 */
    height: 100%;
    width: 100%;
}

/*
對id="take-photo-button"進行樣式設定
*/
#take-photo-button {
    position: fixed;
    bottom: 30px;
    width: 100%;
}

/*
對id="front-camera-button"進行樣式設定
*/
#front-camera-button {
    position: fixed;
    bottom: 80px;
    width: 100%;
}

/*
Class "photo-taken", which is added to "cameraOutput" in file "app.js"
*/
.photo-taken{
    height: 100px!important; /* !important => Overrides the predefined height property (e.g., 100%) */
    width: 100px!important; /* !important => Overrides the predefined width property (e.g., 100%) */
}
